[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
redis = "==3.5.3"
celery = "==5.1.1"
django = "==3.2.4"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
